* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Merriweather", serif;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  color: #f5f5f5;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #f5f5f5;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  color: #f5f5f5;
}

p,
span {
  font-size: 1rem;
  font-weight: 300;
  color: #f5f5f5;
}

a {
  text-decoration: none;
  color: #f5f5f5;
}

.item-rotate i {
  -webkit-transform: rotate(-30deg) translateY(20%);
          transform: rotate(-30deg) translateY(20%);
}

li {
  text-decoration: none;
  color: #f5f5f5;
  list-style: none;
  font-size: 1rem;
  margin-top: 1rem;
}

hr {
  border: solid 0.5px #f5f5f5;
}

header {
  background-color: #525252;
  position: fixed;
  width: 100vw;
  z-index: 10;
}

header .logo i {
  font-size: 4rem;
  color: #f5f5f5;
}

header .logo i:hover {
  color: #de3163;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .nav-title {
  color: #f5f5f5;
}

header .nav-title a {
  cursor: pointer;
}

header .nav-title a:hover {
  color: #de3163;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.introduction {
  padding-top: 10rem;
}

.introduction .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.introduction .title p {
  line-height: 3rem;
}

.introduction .title h3 {
  cursor: pointer;
}

.introduction .title h3 span {
  font-size: 3rem;
}

.introduction .title h3:hover {
  color: #de3163;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.introduction .title h3:hover span {
  color: #de3163;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.introduction .background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction .background img {
  width: 100%;
}

.projects {
  margin-top: 3rem;
}

.projects .row .card {
  background-color: #525252;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  padding: 1rem;
  border-radius: 1rem;
}

.projects .row .card img {
  width: 100%;
}

.projects .row .card .card-body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.projects .row .card .card-body .button-link a {
  padding: 0.5rem 0.5rem;
  background-color: #de3163;
}

.experience {
  margin-top: 3rem;
}

.experience .row .ex-title h3 {
  margin-bottom: 3rem;
}

.experience .row .ex-title li i {
  color: #de3163;
}

.experience .row .ex-img .shop {
  width: 100%;
  padding: 1rem;
}

.experience .row .ex-img .shop img {
  width: 100%;
}

.about {
  margin-top: 5rem;
}

.about .row .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about .row .title h3 {
  margin-bottom: 3rem;
}

.about .row .title .contact p span {
  color: #de3163;
}

.about .row .title .contact .icon a {
  font-size: 2rem;
  color: #de3163;
  text-decoration: none;
}

.about .row .img img {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */