* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  scroll-behavior: smooth;
}
$color-red: #de3163;
$color-white: #f5f5f5;
$color-gray: #525252;
body {
  background-color: #000;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  color: $color-white;
}
h2 {
  font-size: 3rem;
  font-weight: 700;
  color: $color-white;
}
h3 {
  font-size: 2rem;
  font-weight: 400;
  color: $color-white;
}
p,
span {
  font-size: 1rem;
  font-weight: 300;
  color: $color-white;
}
a {
  text-decoration: none;
  color: $color-white;
}
.item-rotate {
  i {
    transform: rotate(-30deg) translateY(20%);
  }
}
li {
  text-decoration: none;
  color: $color-white;
  list-style: none;
  font-size: 1rem;
  margin-top: 1rem;
}
hr {
  border: solid 0.5px $color-white;
}
header {
  background-color: $color-gray;
  position: fixed;
  width: 100vw;
  z-index: 10;
  .logo {
    i {
      font-size: 4rem;
      color: $color-white;
      &:hover {
        color: $color-red;
        transition: 0.3s;
      }
    }
  }
  .nav-title {
    color: $color-white;
    a {
      cursor: pointer;
      &:hover {
        color: $color-red;
        transition: 0.3s;
      }
    }
  }
}

// introduction
.introduction {
  padding-top: 10rem;
  .title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    p {
      line-height: 3rem;
    }
    h3 {
      cursor: pointer;
      span {
        font-size: 3rem;
      }
      &:hover {
        color: $color-red;
        transition: 0.3s;
      }
      &:hover span {
        color: $color-red;
        transition: 0.3s;
      }
    }
  }
  .background {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }
}
// project
.projects {
  margin-top: 3rem;
  .row {
    .card {
      background-color: $color-gray;
      width: 90%;
      margin: 0 auto;
      height: 100%;
      padding: 1rem;
      border-radius: 1rem;
      img {
        width: 100%;
      }
      .card-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .button-link {
          a {
            padding: 0.5rem 0.5rem;
            background-color: $color-red;
          }
        }
      }
    }
  }
}
// experience
.experience {
  margin-top: 3rem;

  .row {
    .ex-title {
      h3 {
        margin-bottom: 3rem;
      }
      li {
        i {
          color: $color-red;
        }
      }
    }
    .ex-img {
      .shop {
        width: 100%;
        padding: 1rem;
        img {
          width: 100%;
        }
      }
    }
  }
}
// about
.about {
  margin-top: 5rem;
  .row {
    .title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      h3 {
        margin-bottom: 3rem;
      }
      .contact {
        p {
          span {
            color: $color-red;
          }
        }
        .icon {
          a {
            font-size: 2rem;
            color: $color-red;
            text-decoration: none;
          }
        }
      }
    }
    .img {
      img {
        width: 100%;
      }
    }
  }
}
